html,
body {
  border: none;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0%;
}

.container-index {
  background: #74ab58;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}

.title {
  font-family: Helvetica, sans-serif;
  color: #074d31;
  justify-content: center;
  width: 100%;
  text-align: center;
  display: flex;
  margin-top: 5ch;
  margin-bottom: -1ch;
  font-size: 20px;
}

.junio {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 40px;
  color: white;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 40%;
  gap: 70px;
}

button {
  height: 150px;
  width: 150px;
  text-align: center;
  border-radius: 613px;
  border: 2px solid #fff;
  background: rgba(217, 217, 217, 0.3);
  color: #fff;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer {
  /* background: slateblue; */
  display: flex;
  margin-top: auto;
}

footer img {
  object-position: 0em 5em;
  object-fit: cover;
  width: 50%;
}

.top {
  display: flex;
  width: 10%;
}
