body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  max-width: 100%;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  flex-direction: column;
  align-content: center;
}

.box {
  width: 50%;
  margin: 2em;
  display: flex;
  text-align: center;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.box img {
  margin-bottom: 10px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 20px;
  border: 5px solid green;
}

.textos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.titulobox {
  margin: 10px;
  font-size: 40px;
  color: green;
  font-weight: 700;
}

.subtitulobox {
  margin: 10px;
  font-size: 30px;
  font-weight: 400;
}

.descripcion {
  margin: 10px;
  font-size: 25px;
  text-align: left;
}
