html,
body {
  border: none;
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0%;
  justify-content: center;
  /* background: lawngreen; */
}

.container {
  /* background: red; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
  gap: 6em;
}

.container header {
  /* background: seagreen; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
  align-items: center;
  width: 100vw;
}

.container header img {
  width: 100%;
  height: 100%;
  margin-right: -64.5%;
  display: flex;
  clip-path: inset(0px 64.5% 0px 0px);
  object-fit: cover;
}

.container header div {
  display: flex;
  flex-direction: column;
  gap: 0.5ch;
}

.container header div .titulo {
  font-size: 45px;
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  color: #4c956c;
}

.container header div .subtitulo {
  font-size: 45px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 700;
  color: #4c956c;
}

div.personas {
  /* background: purple; */
  display: flex;
  flex-direction: column;
  gap: 3em;
  align-items: center;
}

div.persona {
  /* background: lightpink; */
  display: flex;
  gap: 3em;
  padding: 0px 2em;
}

div.persona img.img-persona-1 {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  border: 4px solid green;
  object-fit: cover;
  object-position: 30% 15%;
}

div.persona img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  border: 4px solid green;
  object-fit: cover;
  /* object-position: 30% 15%; */
}

div.persona div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1ch;
  flex: 1 1 0px;
  width: 480px;
}

div.persona div .nombre {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: green;
}

div.persona div .subtitulo {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.persona div .descripcion {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 200;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.container footer {
  /* background: slateblue; */
  display: flex;
  margin-top: auto;
}

.container footer img {
  object-position: 0 2em;
  object-fit: cover;
  width: 100%;
}
